<html>
<head>
    <title>
        Main
    </title>
</head>

<body>
{% extends "main/nav.html" %}
    {% block nav %}
<div class="container">
    <div class="row">
<div class="col" style = "margin:15px">
    <br><br>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
</div>
<div class="col" style = "margin:15px">

    <h3>
        Files Present on Server
    </h3>
    <br>

    {% for file in files %}
    <div>
        <a href="download/{{ file  }}">{{ file }}</a>
    </div>
    <br>
    {% endfor %}



</div>
</div>
</div>
    {% endblock %}
</body>
</html>